In [1]:
import pandas as pd
import ast

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
path = 'spotify.csv'
df = pd.read_csv(path)

df

,Unnamed: 0,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,215,5PmePoyUgFVUmF2WrJr4aS,Downtown Life,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],1,1,False,0.660,0.8920,4,-6.545,0,0.0419,0.0971,0.000021,0.3500,0.7670,110.089,268467,4,1988,7/27/1988
1,216,4AiVt49hSjkkArFOIlAZhL,Everything Your Heart Desires,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],2,1,False,0.706,0.8610,10,-5.774,1,0.0411,0.1570,0.000001,0.2560,0.8870,99.992,300467,4,1988,7/27/1988
2,217,2DTPyOcY3LlSkzliezN7RW,I'm In Pieces,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],3,1,False,0.381,0.8240,5,-6.400,1,0.0408,0.1190,0.000000,0.0826,0.8050,87.064,290467,4,1988,7/27/1988
3,218,0PuiVcvrQ3k9t2b7wxc9eX,Missed Opportunity,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],4,1,False,0.765,0.8150,0,-6.931,1,0.0429,0.5230,0.000000,0.0821,0.7330,106.063,287600,4,1988,7/27/1988
4,219,5hnPI9JhCQpiZ0mPSEGHpM,Talking All Night,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],5,1,False,0.745,0.7870,1,-6.328,1,0.0451,0.2190,0.000110,0.0910,0.9020,120.925,274400,4,1988,7/27/1988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70563,1047885,62CY6b4qhJI8fHHcIdAvst,The Secret,Since 1951,5VxWQVOv7LcvlAd7Sjtoca,['Andrew Gold'],['5fmvGUlMVgmnCn45f1he7d'],9,1,False,0.630,0.7080,9,-9.390,1,0.0279,0.1390,0.000000,0.2090,0.8670,104.994,279800,4,2009,9/1/2009
70564,1047886,4RBKf5geDgLsnLbEJmSxZl,Can't Get Used To Losing You,Since 1951,5VxWQVOv7LcvlAd7Sjtoca,['Andrew Gold'],['5fmvGUlMVgmnCn45f1he7d'],10,1,False,0.673,0.2760,0,-15.667,1,0.0379,0.6470,0.000002,0.0530,0.8150,180.055,259427,4,2009,9/1/2009
70565,1047887,3llKksjZBUjwIsc908eKaW,Baby's Got a Gun,Since 1951,5VxWQVOv7LcvlAd7Sjtoca,['Andrew Gold'],['5fmvGUlMVgmnCn45f1he7d'],11,1,False,0.665,0.3650,2,-18.173,0,0.0269,0.4430,0.000031,0.0778,0.5280,100.171,257000,4,2009,9/1/2009
70566,1047888,5oF5m5V9OU1l6J2LHAp4Za,Whatcha Think About That,Since 1951,5VxWQVOv7LcvlAd7Sjtoca,['Andrew Gold'],['5fmvGUlMVgmnCn45f1he7d'],12,1,False,0.630,0.3630,5,-18.010,1,0.0355,0.4700,0.000004,0.0520,0.8990,85.673,245173,4,2009,9/1/2009
70567,1047889,6l06gtoM45NMzeIkSPtRhU,Safe and Sound,Since 1951,5VxWQVOv7LcvlAd7Sjtoca,['Andrew Gold'],['5fmvGUlMVgmnCn45f1he7d'],13,1,False,0.558,0.0573,0,-19.800,0,0.0292,0.8460,0.000000,0.1130,0.0753,110.325,217267,3,2009,9/1/2009

In [4]:
core_df = df.drop(['Unnamed: 0','artist_ids','id','album_id'], axis=1)
core_df

,name,album,artists,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,Downtown Life,Ooh Yeah!,['Daryl Hall & John Oates'],1,1,False,0.660,0.8920,4,-6.545,0,0.0419,0.0971,0.000021,0.3500,0.7670,110.089,268467,4,1988,7/27/1988
1,Everything Your Heart Desires,Ooh Yeah!,['Daryl Hall & John Oates'],2,1,False,0.706,0.8610,10,-5.774,1,0.0411,0.1570,0.000001,0.2560,0.8870,99.992,300467,4,1988,7/27/1988
2,I'm In Pieces,Ooh Yeah!,['Daryl Hall & John Oates'],3,1,False,0.381,0.8240,5,-6.400,1,0.0408,0.1190,0.000000,0.0826,0.8050,87.064,290467,4,1988,7/27/1988
3,Missed Opportunity,Ooh Yeah!,['Daryl Hall & John Oates'],4,1,False,0.765,0.8150,0,-6.931,1,0.0429,0.5230,0.000000,0.0821,0.7330,106.063,287600,4,1988,7/27/1988
4,Talking All Night,Ooh Yeah!,['Daryl Hall & John Oates'],5,1,False,0.745,0.7870,1,-6.328,1,0.0451,0.2190,0.000110,0.0910,0.9020,120.925,274400,4,1988,7/27/1988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70563,The Secret,Since 1951,['Andrew Gold'],9,1,False,0.630,0.7080,9,-9.390,1,0.0279,0.1390,0.000000,0.2090,0.8670,104.994,279800,4,2009,9/1/2009
70564,Can't Get Used To Losing You,Since 1951,['Andrew Gold'],10,1,False,0.673,0.2760,0,-15.667,1,0.0379,0.6470,0.000002,0.0530,0.8150,180.055,259427,4,2009,9/1/2009
70565,Baby's Got a Gun,Since 1951,['Andrew Gold'],11,1,False,0.665,0.3650,2,-18.173,0,0.0269,0.4430,0.000031,0.0778,0.5280,100.171,257000,4,2009,9/1/2009
70566,Whatcha Think About That,Since 1951,['Andrew Gold'],12,1,False,0.630,0.3630,5,-18.010,1,0.0355,0.4700,0.000004,0.0520,0.8990,85.673,245173,4,2009,9/1/2009
70567,Safe and Sound,Since 1951,['Andrew Gold'],13,1,False,0.558,0.0573,0,-19.800,0,0.0292,0.8460,0.000000,0.1130,0.0753,110.325,217267,3,2009,9/1/2009

In [5]:
core_df.columns

Index(['name', 'album', 'artists', 'track_number', 'disc_number', 'explicit',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_ms', 'time_signature', 'year', 'release_date'],
      dtype='object')

In [6]:
song_df = core_df[['name', 'track_number', 'disc_number', 'duration_ms', 'time_signature', 'year', 'release_date']].copy()
song_df.index = song_df.index.rename('song_id')

In [7]:
song_df = song_df.reset_index()

In [8]:
song_df

,song_id,name,track_number,disc_number,duration_ms,time_signature,year,release_date
0,0,Downtown Life,1,1,268467,4,1988,7/27/1988
1,1,Everything Your Heart Desires,2,1,300467,4,1988,7/27/1988
2,2,I'm In Pieces,3,1,290467,4,1988,7/27/1988
3,3,Missed Opportunity,4,1,287600,4,1988,7/27/1988
4,4,Talking All Night,5,1,274400,4,1988,7/27/1988
...,...,...,...,...,...,...,...,...
70563,70563,The Secret,9,1,279800,4,2009,9/1/2009
70564,70564,Can't Get Used To Losing You,10,1,259427,4,2009,9/1/2009
70565,70565,Baby's Got a Gun,11,1,257000,4,2009,9/1/2009
70566,70566,Whatcha Think About That,12,1,245173,4,2009,9/1/2009
70567,70567,Safe and Sound,13,1,217267,3,2009,9/1/2009

In [9]:
album_df = core_df[['album']].copy()
album_df.index = album_df.index.rename('album_id')
album_df.reset_index()

       album_id       album
0             0   Ooh Yeah!
1             1   Ooh Yeah!
2             2   Ooh Yeah!
3             3   Ooh Yeah!
4             4   Ooh Yeah!
...         ...         ...
70563     70563  Since 1951
70564     70564  Since 1951
70565     70565  Since 1951
70566     70566  Since 1951
70567     70567  Since 1951

[70568 rows x 2 columns]

In [10]:
album_df.groupby('album').agg

In [11]:
unique_album = album_df.drop_duplicates(keep='first')
unique_album = unique_album.reset_index()
unique_album['album_id'] = range(len(unique_album))
unique_album

      album_id                                              album
0            0                                          Ooh Yeah!
1            1                                      Greatest Hits
2            2                              Western Standard Time
3            3                                      Hangin' Tough
4            4                                      Dream Of Life
...        ...                                                ...
5523      5523                                    Diamonds & Rust
5524      5524  Scraps of Quilting Music: How Quilters Saved t...
5525      5525                                 This One's For You
5526      5526                     Jonnie and Brookie Hit Singles
5527      5527                                         Since 1951

[5528 rows x 2 columns]

In [63]:
result = core_df['artists'].str.contains('Kanye', case=False)
filtered_df = core_df[result]
filtered_df

,name,album,artists,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
46802,I Ain't Goin' Nowhere (feat. Kanye West),Uni5: The Prequel (Blue Foil Collector's Edition),"['Bone Thugs-N-Harmony', 'Kanye West']",4,1,True,0.811,0.802,9,-5.093,1,0.192,0.277,0.0,0.22,0.922,84.322,249313,4,2009,6/10/2009

In [74]:
filtered_df = core_df.loc[core_df['artists'].str.contains('Kanye')]
filtered_values = filtered_df['artists'].tolist()
filtered_values

["['Bone Thugs-N-Harmony', 'Kanye West']"]

In [46]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2, 3], 'Value': [10, 20, 30]})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Value': [100, 200, 400]})

merged_df = pd.merge(df1, df2, on='ID', suffixes=('left', 'right'))
merged_df

   ID  Valueleft  Valueright
0   1         10         100
1   2         20         200

In [36]:
song_album = unique_album.merge(album_df.rename({'album_id':'song_id'}), left_on='album', right_on='album')

song_album.index = song_album.index.rename('song_id')
song_album =song_album.reset_index()
song_album = song_album.drop('album', axis=1)
song_album

       song_id  album_id
0            0         0
1            1         0
2            2         0
3            3         0
4            4         0
...        ...       ...
70563    70563      5527
70564    70564      5527
70565    70565      5527
70566    70566      5527
70567    70567      5527

[70568 rows x 2 columns]

In [13]:
attributes_df = core_df[['explicit','danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
                      'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo']].copy()
attributes_df['song_id'] = song_df['song_id']
attributes_df.index = attributes_df.index.rename('attributes_df')
attributes_df.reset_index()

,attributes_df,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,song_id
0,0,False,0.660,0.8920,4,-6.545,0,0.0419,0.0971,0.000021,0.3500,0.7670,110.089,0
1,1,False,0.706,0.8610,10,-5.774,1,0.0411,0.1570,0.000001,0.2560,0.8870,99.992,1
2,2,False,0.381,0.8240,5,-6.400,1,0.0408,0.1190,0.000000,0.0826,0.8050,87.064,2
3,3,False,0.765,0.8150,0,-6.931,1,0.0429,0.5230,0.000000,0.0821,0.7330,106.063,3
4,4,False,0.745,0.7870,1,-6.328,1,0.0451,0.2190,0.000110,0.0910,0.9020,120.925,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70563,70563,False,0.630,0.7080,9,-9.390,1,0.0279,0.1390,0.000000,0.2090,0.8670,104.994,70563
70564,70564,False,0.673,0.2760,0,-15.667,1,0.0379,0.6470,0.000002,0.0530,0.8150,180.055,70564
70565,70565,False,0.665,0.3650,2,-18.173,0,0.0269,0.4430,0.000031,0.0778,0.5280,100.171,70565
70566,70566,False,0.630,0.3630,5,-18.010,1,0.0355,0.4700,0.000004,0.0520,0.8990,85.673,70566
70567,70567,False,0.558,0.0573,0,-19.800,0,0.0292,0.8460,0.000000,0.1130,0.0753,110.325,70567

In [14]:
song_df

,song_id,name,track_number,disc_number,duration_ms,time_signature,year,release_date
0,0,Downtown Life,1,1,268467,4,1988,7/27/1988
1,1,Everything Your Heart Desires,2,1,300467,4,1988,7/27/1988
2,2,I'm In Pieces,3,1,290467,4,1988,7/27/1988
3,3,Missed Opportunity,4,1,287600,4,1988,7/27/1988
4,4,Talking All Night,5,1,274400,4,1988,7/27/1988
...,...,...,...,...,...,...,...,...
70563,70563,The Secret,9,1,279800,4,2009,9/1/2009
70564,70564,Can't Get Used To Losing You,10,1,259427,4,2009,9/1/2009
70565,70565,Baby's Got a Gun,11,1,257000,4,2009,9/1/2009
70566,70566,Whatcha Think About That,12,1,245173,4,2009,9/1/2009
70567,70567,Safe and Sound,13,1,217267,3,2009,9/1/2009

In [15]:
core_df

,name,album,artists,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,Downtown Life,Ooh Yeah!,['Daryl Hall & John Oates'],1,1,False,0.660,0.8920,4,-6.545,0,0.0419,0.0971,0.000021,0.3500,0.7670,110.089,268467,4,1988,7/27/1988
1,Everything Your Heart Desires,Ooh Yeah!,['Daryl Hall & John Oates'],2,1,False,0.706,0.8610,10,-5.774,1,0.0411,0.1570,0.000001,0.2560,0.8870,99.992,300467,4,1988,7/27/1988
2,I'm In Pieces,Ooh Yeah!,['Daryl Hall & John Oates'],3,1,False,0.381,0.8240,5,-6.400,1,0.0408,0.1190,0.000000,0.0826,0.8050,87.064,290467,4,1988,7/27/1988
3,Missed Opportunity,Ooh Yeah!,['Daryl Hall & John Oates'],4,1,False,0.765,0.8150,0,-6.931,1,0.0429,0.5230,0.000000,0.0821,0.7330,106.063,287600,4,1988,7/27/1988
4,Talking All Night,Ooh Yeah!,['Daryl Hall & John Oates'],5,1,False,0.745,0.7870,1,-6.328,1,0.0451,0.2190,0.000110,0.0910,0.9020,120.925,274400,4,1988,7/27/1988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70563,The Secret,Since 1951,['Andrew Gold'],9,1,False,0.630,0.7080,9,-9.390,1,0.0279,0.1390,0.000000,0.2090,0.8670,104.994,279800,4,2009,9/1/2009
70564,Can't Get Used To Losing You,Since 1951,['Andrew Gold'],10,1,False,0.673,0.2760,0,-15.667,1,0.0379,0.6470,0.000002,0.0530,0.8150,180.055,259427,4,2009,9/1/2009
70565,Baby's Got a Gun,Since 1951,['Andrew Gold'],11,1,False,0.665,0.3650,2,-18.173,0,0.0269,0.4430,0.000031,0.0778,0.5280,100.171,257000,4,2009,9/1/2009
70566,Whatcha Think About That,Since 1951,['Andrew Gold'],12,1,False,0.630,0.3630,5,-18.010,1,0.0355,0.4700,0.000004,0.0520,0.8990,85.673,245173,4,2009,9/1/2009
70567,Safe and Sound,Since 1951,['Andrew Gold'],13,1,False,0.558,0.0573,0,-19.800,0,0.0292,0.8460,0.000000,0.1130,0.0753,110.325,217267,3,2009,9/1/2009

In [16]:
artist_df = core_df[['artists']].copy()
artist_df['artists'] = artist_df['artists'].str.strip('[]').str.split(',')
#artist_df.artists.apply(lambda s: list(ast.literal_eval(s)))
artist_df

                           artists
0      ['Daryl Hall & John Oates']
1      ['Daryl Hall & John Oates']
2      ['Daryl Hall & John Oates']
3      ['Daryl Hall & John Oates']
4      ['Daryl Hall & John Oates']
...                            ...
70563              ['Andrew Gold']
70564              ['Andrew Gold']
70565              ['Andrew Gold']
70566              ['Andrew Gold']
70567              ['Andrew Gold']

[70568 rows x 1 columns]

In [17]:
all_artists = pd.DataFrame(artist_df['artists'].explode())
all_artists.index = all_artists.index.rename('song_id')
all_artists = all_artists.reset_index()
all_artists

        song_id                    artists
0             0  'Daryl Hall & John Oates'
1             1  'Daryl Hall & John Oates'
2             2  'Daryl Hall & John Oates'
3             3  'Daryl Hall & John Oates'
4             4  'Daryl Hall & John Oates'
...         ...                        ...
110035    70563              'Andrew Gold'
110036    70564              'Andrew Gold'
110037    70565              'Andrew Gold'
110038    70566              'Andrew Gold'
110039    70567              'Andrew Gold'

[110040 rows x 2 columns]

In [18]:
artist_df['artists']= artist_df['artists'].astype(str)
artist_df.dtypes

artists    object
dtype: object

In [19]:
artist_df.explode('artists')

                             artists
0      ["'Daryl Hall & John Oates'"]
1      ["'Daryl Hall & John Oates'"]
2      ["'Daryl Hall & John Oates'"]
3      ["'Daryl Hall & John Oates'"]
4      ["'Daryl Hall & John Oates'"]
...                              ...
70563              ["'Andrew Gold'"]
70564              ["'Andrew Gold'"]
70565              ["'Andrew Gold'"]
70566              ["'Andrew Gold'"]
70567              ["'Andrew Gold'"]

[70568 rows x 1 columns]

In [20]:
test = pd.DataFrame({'one': [[0,1,2,3]], 'two': 3, 'Three': [['this','is', 'me']]})

test.explode('one')
test

            one  two           Three
0  [0, 1, 2, 3]    3  [this, is, me]

We've Created the following tables:
Song
Album
song_album
Attributes

We need
Artists
album_artists

In [35]:
test = core_df.copy()

artist_df['artists'] = artist_df['artists'].str.replace(r"[\[\]']", '', regex=True)
#artist_df = pd.DataFrame(artist_df["artists"].str.split(",").explode())

artist_df["artists"] = artist_df["artists"].str.split(",")

artist_df = artist_df.explode("artists")

# artist_df = artist_df.reset_index()
unique_artist = artist_df["artists"].drop_duplicates("artists", keep="first")
unique_artist.reset_index()

C:\Users\MD_Rahman\AppData\Local\Temp\ipykernel_10436\1170821080.py:11: FutureWarning: In a future version of pandas all arguments of Series.drop_duplicates will be keyword-only.
  unique_artist = artist_df["artists"].drop_duplicates("artists")

ValueError: keep must be either "first", "last" or False

In [23]:
artist_df.reset_index()

       index                        artists
0          0  ["'Daryl Hall & John Oates'"]
1          1  ["'Daryl Hall & John Oates'"]
2          2  ["'Daryl Hall & John Oates'"]
3          3  ["'Daryl Hall & John Oates'"]
4          4  ["'Daryl Hall & John Oates'"]
...      ...                            ...
70563  70563              ["'Andrew Gold'"]
70564  70564              ["'Andrew Gold'"]
70565  70565              ["'Andrew Gold'"]
70566  70566              ["'Andrew Gold'"]
70567  70567              ["'Andrew Gold'"]

[70568 rows x 2 columns]